{% extends "base.html" %}
{% block title %}
    <title>about</title>
{% endblock title %}

{% block content %}
<section>
    <h2>Our Mission</h2>
    <p>We aim to provide the best services to our customers with a focus on quality and innovation.</p>
</section>
<section>
    <h2>Our Team</h2>
    <p>Our team is composed of dedicated professionals who are passionate about their work.</p>
</section>   
{% endblock content %}

{% block footer %}
    <p>&copy; 2025 Mesa Examen. All rights
{% endblock footer %}


